.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.custom-checkbox .form-check-input:checked {
  box-shadow: 0 0 0 0 #fff;
  background-color: green;
  border-color: green;
  border: none;
}

.custom-checkbox .form-check-input:checked:focus {
  box-shadow: 0 0 0 0 #fff;
}

.custom-checkbox .form-check-input {
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@font-face {
  font-family: 'FiraGO-Bold';
  src: local('FiraGO-Bold'), url('./assets/fonts/FiraGO-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'FiraGO-Medium';
  src: local('FiraGO-Medium'), url('./assets/fonts/FiraGO-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'FiraGO-Light';
  src: local('FiraGO-Light'), url('./assets/fonts/FiraGO-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'FiraGO-Book';
  src: local('FiraGO-Book'), url('./assets/fonts/FiraGO-Book.ttf') format('truetype');
}


body {
  font-family: 'FiraGO-Bold', sans-serif;
}

.firaGoBold {
  font-family: 'FiraGO-Bold', sans-serif;
}

.firaGoMedium {
  font-family: 'FiraGO-Medium', sans-serif;
}

.firaGoLight {
  font-family: 'FiraGO-Light', sans-serif;
}

.firaGoBook {
  font-family: 'FiraGO-Book', sans-serif;
}